<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/7e7733aed3.js" crossorigin="anonymous"></script>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/_reset.css" rel="stylesheet" type="text/scss">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap" rel="stylesheet">
    <title>GrowT</title>
</head>
<script>
    var slideIndex = 0; //slide index

    // HTML 로드가 끝난 후 동작
    window.onload=function(){
      showSlides(slideIndex);

      // Auto Move Slide
      var sec = 3000;
      setInterval(function(){
        slideIndex++;
        showSlides(slideIndex);
      }, sec);
    }
    // Next/previous controls
    function moveSlides(n) {
      slideIndex = slideIndex + n
      showSlides(slideIndex);
    }

    // Thumbnail image controls
    function currentSlide(n) {
      slideIndex = n;
      showSlides(slideIndex);
    }

    function showSlides(n) {
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      let size = slides.length;
      if ((n+1) > size) {
        slideIndex = 0; n = 0;
      }else if (n < 0) {
        slideIndex = (size-1);
        n = (size-1);
      }

      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      // for (i = 0; i < dots.length; i++) {
      //     dots[i].class = dots[i].class.replace(" active", "");
          
      // }

      slides[n].style.display = "block";
      dots[n].class += " active";
    }
  </script>
<body>
    <div id="root">
        <div id="header">
            <h1 class="big_title">
              <img src= '/img/growT_logo.png'></img>
            </h1>
        </div>
        <div id="sidebar">
            <div class="slide-wrap">
              <ul>
                <li>
                  <a href="/spots">
                    <img src="/img/all.png">
                  </a>
                  <p class="list-tit">전체</p>
                </li>
                <li>
                  <a href="/spots/category/c1">
                    <img src="/img/3.png">
                  </a>
                  <p class="list-tit">관광지</p>
                </li>
                <li>
                  <a href="/spots/category/c3">
                    <img src="/img/1.png">
                  </a>
                  <p class="list-tit">숙소</p>
                </li>
                <li>
                  <a href="/spots/category/c4">
                    <img src="/img/2.png">
                  </a>
                  <p class="list-tit">맛집</p>
                </li>
                <li>
                  <a href="/spots/category/c4">
                    <img src="/img/human.png">
                  </a>
                  <p class="list-tit">커뮤니티</p>
                </li>
                <li>
                  <a href="/spots/category/c4">
                    <img src="/img/medal.png">
                  </a>
                  <p class="list-tit">뱃지</p>
                </li>
              </ul>
            </div>
          </div>

          <div id="content">
            <div class="slideshow-container">
              <div class="top">좋아요 TOP 5</div>
              <% for(let i=0; i < data.length; i++) {%>
              <div class="mySlides fade">  
                <div class="img">
                  <img src="<%=data[i].imgpath%>" />

                  <div class="spotLikeImg"><i class="fa-solid fa-heart" ></i><span id="like"><%=data[i].likeNum%></span></div>
                </div>
                <div class="contents_txt">
                  <div class="rank"><span class="rank_title"><%= i+1 %>위</span><span class="label"><%=data[i].contentslabel%></span></div>
                  <span class="tit"><a href="/spots/info/<%=data[i].contentsid%>"><%=data[i].title%></a></span>
                  <span class="sub-tit"><%=data[i].introduction%></span>
                  <p><%=data[i].address%></p>
                </div>
              </div>
              <% }%>
              <div class="dot_bar">
                <span class="dot"></span>
                <span class="dot"></span>
              </div>
            </div>
          </div>
          <div id="board">
            <div class="board-tit">
              <h2>Board</h2>
              <a class="detail">
              <i class="fa-solid fa-arrow-left"></i> 자세히 보기
              </a>
            </div>
            <ul class="board-list">
              <li>
                <a href="/">
                    <p>큰제목</p>
                    <span>
                      작은제목
                    </span>
                </a>
              </li>
              <li>
                <a href="/">
                    <p>큰제목</p>
                    <span>
                      작은제목
                    </span>
                </a>
              </li>
              <li>
                <a href="/">
                    <p>큰제목</p>
                    <span>
                      작은제목
                    </span>
                </a>
              </li>
              <li>
                <a href="/">
                    <p>큰제목</p>
                    <span>
                      작은제목
                    </span>
                </a>
              </li>
              <li>
                <a href="/">
                    <p>큰제목</p>
                    <span>
                      작은제목
                    </span>
                </a>
              </li>       
            </ul>
            <div id="Footer">
              <div class="bottom_menu">
                  <div>
                      <a href="/"><i class="fa-solid fa-house selected"></i></a>
                  </div>
                  <div>
                      <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                  </div>
                  <div>
                      <a href="/spots"><i class="fa-solid fa-suitcase"></i></a>
                  </div>
                  <div>
                      <a href="/spots/map/page"><i class="fa-solid fa-map-location-dot"></i></a>
                  </div>
                  <div>
                    <a href="/users/mypage"><i class="fa-solid fa-gear"></i></a>
                  </div>
              </div>
          </div>
    </div>
    
    
</body>

</html>