<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=v1qeu7xew1"></script>
</head>
<body>
<div class="main">
    <div><%=spotInfo.title%></div>
    <div><%=spotInfo.spotcontentslabel%></div>
    <div><img src="<%=spotInfo.imgpath%>"></div>
    <div><%=spotInfo.introduction%></div>
    <div>
        <% spotInfo.tag.forEach(tag=> { %>
            <span><a href="/spots/tag/<%=tag%>">#<%= tag %></a></span>
            <% }) %>
    </div>
    <div><%= spotInfo.address%></div>
    <div id="map" style="width:400px;height:200px;"></div>
    <div><a href="/spots/like/<%=spotInfo.contentsid%>">좋아요</a></div>
</div>
<script>
let lat = '<%=spotInfo.latitude%>';
let lng = '<%=spotInfo.longitude%>';
let coord = new naver.maps.LatLng(lat,lng);

let mapOptions = {
    center: coord,
    zoom: 16
};
let map = new naver.maps.Map('map', mapOptions);

let marker = new naver.maps.Marker({
    map:map,
    position: coord
})
</script>
</body>
</html>